$screen : 20%;
%animate{
    transform: scale(1.25);
}
.profile{
    display: flex;
    padding-left: $screen;
    align-items: center;
    img{
        width: 100px;
    }
    span{
        padding: 10px;
        h6{
            a:hover{
                color: initial;
            }
        }
    }
}
#buttons{
    float: right;
    padding-right: $screen*1.6;
    button{
        a{
            color: inherit;
        }
        a:hover{
            color: white;
            text-decoration: none;
        }
    }
    button:hover{
        a{
            color: white;
        }
    }
}
$padding:10%;
body{
    padding-right: $padding;
    padding-left: $padding;
}
.footer{
    h4{
        text-align: center;
    }
}
.social-icons{
        img{
            width: 30px;
            margin: 10px;   
        }
        img:hover{
            @extend %animate
        }
}
.v1{
    border-left: 2px solid black;
    height: 110px;
    margin-left: 10px;
}