$pad:5px;
%animate{
    transform: scale(1.25);
}
.profile{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    img{
        width: 130px;
    }
    span{
        h3{
            padding-top:$pad ;
        }
        h6{
            a:hover{
                color: initial;
            }
        }
    }
}
body{
    margin: auto;
    width: 55%;
}
.footer{
    h4{padding-right: 5px;
        padding-top: 10px;
        text-align: center;
    }
}
.social-icons{
        img{
            width: 30px;
            margin: 10px;  
        }
        img:hover{
            @extend %animate
        }
}
.v1{
    border-bottom: 1px solid black;
    width: 100%;
}
.center {
        margin: auto;
        width: 60%;
        padding: 5px;
}
.center-content{
    width: 78%;
    padding: 10px;
}
#buttons{
    padding-left: 10%;
    padding-right: 5%;
}
b{
    font-weight: 500;
}