$screen : 20%;
.profile{
    display: flex;
    padding-left: $screen;
    align-items: center;
    img{
        width: 100px;
    }
    span{
        padding: 10px;
        h6{
            a:hover{
                color: initial;
            }
        }
    }
}
#buttons{
    padding-left: $screen;
    button{
        a{
            color: inherit;
        }
        a:hover{
            color: white;
            text-decoration: none;
        }
    }
    button:hover{
        a{
            color: white;
        }
    }
}
$padding:10%;
body{
    padding-right: $padding;
    padding-left: $padding;
}
.footer{
    h4{
        text-align: center;
    }
}